.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__image {
  max-width: 282px;
  max-height: 282px;
}

.card__description {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
}

.card__button {
  background-color: black;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.card__button:hover {
  opacity: 0.5s;
}
