.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  opacity: 0;
  padding: 0 19px;
  transition: visibility 0s linear .3s, opacity 0.3s linear;
  visibility:hidden;
}
.modal_opened {
  
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  background-color: #fff;
  padding-bottom: 30px;

  border-radius: 10px;
  margin: auto;
  width: 430px;
  height: 330px;
  box-shadow: 0, 0, 25px;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: -45px;
  right: -45px;
  bottom: calc ( 100% + 5px);
  left: calc ( 100% + 5px);

  width: 40px;
  height: 40px;
  background-image: url(../images/vectors/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition-property: all;
}

.modal__close:hover {
  opacity: .5;
}

.modal__button {
  background-color: #000;
  border: none;
  width: 100%;
  color: #fff;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-align: center;
  
  height: 50px;
}

.modal__button:hover {
  opacity: .5;
  cursor: pointer;
}


.modal__form {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding: 0;
  border: none;
  margin: 0;
  margin-left: 36px;
  margin-right: 36px;
}

.modal__input {
  width: 100%;
  height: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 29.74px;
  padding: 0;
  padding-bottom: 13.26px;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
  padding-bottom: 13.34px;
}



.modal__heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  max-width: 330px;
  height: 23px;

  color: #000;
  margin: 34px 64px 54px 36px;
}

.modal__button_disabled {
font-size: 18px;
font-style: normal;
font-family: "Inter", Arial, Helvetica, sans-serif;
font-weight: 400;
line-height: 22px;
text-align: center;
color: #000;
opacity: 0.2;
border-radius: 2px;
border: 1px solid #000;
width: 100%;
/* margin-top: 48px; */
height: 50px;
background-color: #fff;
}

.modal__error {
  color:#FF0000;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  opacity: 0;
  
}

.modal__input_type_error {
border-bottom: 1px solid #FF0000;
}

/* .modal__input_type_error:last-of-type { */
  /* margin-bottom: 5px; */
  /* } */

.modal__error_visible {
opacity: 1;
position: absolute;
top: 34px;
}

.modal__field {
  position: relative;
  display: flex;
  flex-direction: column;

}
.modal__field-name {
  position: relative;
  display: flex;
  flex-direction:column;
}

@media screen and (min-width: 320px) and (max-width: 757px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__close {
    width: 26px;
    right: 7px;
    top: -45px;
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    
    height: 46px;
  }

  

  .modal__form {
    margin-left: 22px;
    margin-right: 22px;
  }

  .modal__input {
    font-size: 14px;
    line-height: 17px;
    
    height: 14px;

    margin-bottom: 30px;

    padding-bottom: 13px;
  }

  .modal__input:last-of-type {
    margin-bottom: 45px;
    padding-bottom: 13px;
  }

  .modal__heading {
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    max-width: 282px;
    height: 22px;

    margin: 25px 22px 75px;
  }
}

.modal__container-image {
display: flex;
flex-direction: column;
margin: auto;
position: relative;
margin-bottom: 26.74px;
padding-bottom: 13.26px;
}


.modal__image {
max-width: 75vw;
max-height: 75vh;
object-fit: cover;
display: flex;
border-radius: 0;
}

.modal__preview-caption {
font-size: 12px;
line-height: 1.2;
color:#fff;
padding: 0;
margin: 10px 0 0;
font-weight: 400;
font-family: "Inter",sans-serif;
font-style: normal;
}