.page {
  background-color: black;
  max-width: 1280px;
  margin: auto;
}
.page__section {
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .page {
    margin-right: 20px;
    margin-left: 20px;
  }
}
